.destination-container {
  flex-direction: column;
  align-items: center;
}

.destinations {
  margin-top: 97px;
}

.destination,
.destination-one,
.destination-two,
.destination-three {
  height: 55.56vw;
  width: 55.56vw;
  border-radius: 16px;
}

.destination-one {
  background: url(./assets/images/Destination-1.jpg) no-repeat;
  background-size: auto 55.56vw;
}

.destination-two {
  background: url(./assets/images/Destination-2.jpg) no-repeat;
  background-size: auto 55.56vw;
}

.destination-three {
  background: url(./assets/images/Destination-3.jpg) no-repeat;
  background-size: auto 55.56vw;
}

.slider-wrapper {
  overflow-x: hidden;
}

.destination-header {
  font-size: 40px;
  line-height: 53px;
  display: flex;
  justify-content: center;
  text-align: center;
  color: #F2785C;
  margin-bottom: 46px;
}

.destination-slider {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  gap: 60px;
  position: relative;
}

.switcher {
  display: flex;
  justify-content: center;
  margin-top: 25px;
  gap: 10px;
}

.ellipse {
  width: 20px;
  height: 20px;
  border-radius: 10px;
  background: rgba(242, 120, 92, 0.5);
  cursor: pointer;
  transition: 0.5s;
}

.ellipse-active {
  background: #F2785C;
}

.button-find {
  font-family: 'Red Hat Text';
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  margin-top: 40px;
  color: #FFFFFF;
  background: #0D606F;
  box-shadow: 0px 0px 3px rgba(13, 96, 111, 0.08), 0px 2px 3px rgba(13, 96, 111, 0.16);
  border-radius: 10px;
  width: 228px;
  height: 59px;
}

.country {
  font-size: 32px;
  line-height: 42px;
  color: #FFFFFF;
  position: absolute;
  bottom: 40px;
  margin-left: 15px;
}

.vector-find {
  margin-right: 6px;
}

.arrow {
  position: absolute;
  height: 55.7vw;
  width: 18.1vw;
  background: none;
}

.arrow-left {
  left: 0;
  top: 170%;
}

.arrow-right {
  right: 0;
  top: 170%;
}

.slider-right {
  animation-name: move-next;
  animation-duration: 0.7s;
  animation-timing-function: ease-in-out;
}

.slider-left {
  animation-name: move-prev;
  animation-duration: 0.7s;
  animation-timing-function: ease-in-out;
}

@keyframes move-next {
  from {
    left: calc((15px + 45 * (100vw - 390px) / 1050 + 100vw * 800 / 1440) / 2);
    ;
  }

  to {
    left: calc((-15px - 45 * (100vw - 390px) / 1050 - 100vw * 800 / 1440) / 2);
  }
}

@keyframes move-prev {
  from {
    left: calc((-15px - 45 * (100vw - 390px) / 1050 - 100vw * 800 / 1440) / 2);
  }

  to {
    left: calc((15px + 45 * (100vw - 390px) / 1050 + 100vw * 800 / 1440) / 2);
  }
}

@media (max-width: 390px) {
  @keyframes move-next {
    from {
      left: 0;
    }

    to {
      left: -96vw;
    }
  }

  @keyframes move-prev {
    from {
      left: -96vw;
    }

    to {
      left: 0vw;
    }
  }

  .destinations {
    position: relative;
    margin-top: 20px;
    overflow-x: hidden;
  }

  .destination-header {
    font-weight: 500;
    font-size: 14px;
    line-height: 19px;
    margin: 0px;
    margin-bottom: 20px;
  }

  .country {
    font-size: 20px;
    line-height: 26px;
    margin: 8px 0px 0px 15px;
    bottom: 0;
    top: 0;
  }

  .destination,
  .destination-one,
  .destination-two,
  .destination-three {
    display: flex;
    width: 92.31vw;
    height: 53.85vw;
  }


  .destination-pic {
    max-width: 360px;
    height: 210px;
  }

  .destination-slider {
    justify-content: flex-start;
    gap: 15px;
    margin-left: 15px;
  }

  .destination-one {
    background: url(./assets/images/Destination-1-mobile.jpg) no-repeat;
    // background-size: auto 53.85vw;
  }

  .destination-two {
    background: url(./assets/images/Destination-2-mobile.jpg) no-repeat;
    // background-size: auto 53.85vw;
  }

  .destination-three {
    background: url(./assets/images/Destination-3-mobile.jpg) no-repeat;
    // background-size: auto 53.85vw;
  }

  .switcher {
    position: relative;
    margin-top: -20px;
    gap: 6px;
  }

  .ellipse {
    width: 8px;
    height: 8px;
  }

  .button-find {
    font-size: 11px;
    line-height: 15px;
    width: 92px;
    height: 30px;
    margin-top: 22px;
  }

  .vector-find {
    max-width: 10px;
    height: 10px;
  }

  .arrow {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 45%;
    width: 30px;
    height: 30px;

  }

  .arrow-right {
    background: url('/assets/icons/ep_arrow-up-bold.svg');
    right: 4.6%;
  }

  .arrow-left {
    background: url("/assets/icons/ep_arrow-up-bold.svg");
    transform: rotate(180deg);
    left: 4.6%;
  }
}